<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Classificação Automática de Emails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

</head>

<body>
    <div class="container">
        <h2>Classificação Automática de Emails</h2>
        <textarea id="texto" placeholder="Escreva o email aqui.."></textarea>
        <br>
        <input type="file" id="arquivo" accept=".txt,.pdf">
        <br>
        <button id="btnProcessar" onclick="processarEmail()">Processar</button>
        <div id="loading" class="loading" style="display:none;">Processando, aguarde...</div>
        <div id="resultado" class="resultado" style="display:none;"></div>
        <div id="erro" class="erro" style="display:none;"></div>
    </div>
    

</body>
</html>
